{% extends 'base.html' %}


{% block content %}


<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Welcome {{ user.first_name }}</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Dashboard
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <div class="container">

        <h1>Your Inquiry Properties</h1>

        {% if user_inquiry %}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Property Title</th>
                    <th scope="col">Interested</th>
                    <th scope="col">Inquiry Date</th>
                    <th scope="col">Goto</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for inquiry in user_inquiry %}
                <tr>
                    <th scope="row">{{ inquiry.id }}</th>
                    <td>{{ inquiry.car_title }}</td>
                    <td>{{ inquiry.interested }}</td>
                    <td>{{ inquiry.created_date }}</td>
                    <td><a href="{% url 'property_details' inquiry.car_id %}">Click Me</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}

        <h2>You don't have any inquiry</h2>

        {% endif %}
        
    </div>

    
  </main><!-- End #main -->


{% endblock %}