<!-- ======= Property Search Section ======= -->
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">

      <form class="form-a" action="{% url 'search' %}">
        <div class="row">

          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label class="pb-2" for="Type">Keyword</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword" name="keyword">
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="Type">Property Type</label>
              <select class="form-control form-select form-control-a" name="property_type">
                  <option disabled="disabled" selected="selected">Property Type</option>
                    {% for property_type in property_type_field %}
                        <option values={{ property_type }}>{{ property_type }}</option>
                    {% endfor %}
                
                
              </select>
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="city">City</label>
              <select class="form-control form-select form-control-a" id="city" name="city">
                <option disabled="disabled" selected="selected">City</option>
                {% for city in city_fields %}
                    <option values={{ city }}>{{ city }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="bedrooms">Bedrooms</label>
              <select class="form-control form-select form-control-a" id="bedrooms" name="beds">
                  <option disabled="disabled" selected="selected">Bedroom</option>
                {% for beds in bedroom_fields %}
                    <option values={{ beds }}>{{ beds }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="bathrooms">Bathrooms</label>
              <select class="form-control form-select form-control-a" id="bathrooms" name="baths">
                  <option disabled="disabled" selected="selected">Bathrooms</option>
                {% for bath in bathroom_fields %}
                    <option values={{ bath }}>{{ bath }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="price">Min Price</label>
              <select class="form-control form-select form-control-a" id="price">
                <option>Unlimite</option>
                <option>$50,000</option>
                <option>$100,000</option>
                <option>$150,000</option>
                <option>$200,000</option>
              </select>
            </div>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Search Property</button>
          </div>
        </div>
      </form>
    </div>
  </div><!-- End Property Search Section -->